{% extends 'base.html' %}
{% block title %}天天生鲜-用户中心{% endblock title%}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <script src="/static/jss/jquery-1.12.4.min.js"></script>
{% endblock head %}

{% block  content %}

	<div class="search_bar clearfix">
		<a href="index.html" class="logo fl"><img src="/static/images/logo.png"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;用户中心</div>
		<div class="search_con fr">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>		
	</div>


	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="/user_center_info/">· 个人信息</a></li>
				<li><a href="/user_center_order/" class="active">· 全部订单</a></li>
				<li><a href="/user_center_site/">· 收货地址</a></li>
			</ul>
		</div>

		<div class="right_content clearfix">
				<h3 class="common_title2">全部订单</h3>
                {% for temp in orders %}
                    <ul class="order_list_th w978 clearfix">
                        <li class="col01">{{ temp.bpub_date }}</li>
                        <li class="col02">订单号：{{ temp.ordernum  }}</li>
                    {% if temp.state == 1 %}
                        <li class="col02 stress">支付</li>
                    {% elif temp.state == 0 %}
                        <li class="col02 stress"style="color: #c40000">未支付</li>
                    {% endif %}
                    </ul>

                    <table class="order_list_table w980">
                        <tbody>
                            <tr>
                                <td width="55%">
                                    {% for temp1 in temp.orderdetailinfo_set.all %}
                                    <ul class="order_goods_list clearfix">
                                        <li class="col01"><img src="{{ temp1.goods.smallImg.url }}"></li>
                                        <li class="col02"><em>{{ temp1.goods.title }}</em></li>
                                        <li class="col03">{{temp1.count}}</li>
                                        <li class="col04">{{ temp1.goods_price}}</li>
                                    </ul>
                                    {% endfor %}
                                </td>
                                        <td width="15%">{{ temp.total }}元</td>
                                    {%  if temp.state == 1%}
                                        <td width="15%" >已付款</td>
                                        <td width="15%"><a href="#" class="oper_btn">查看物流</a></td>
                                    {% elif temp.state == 0%}
                                        <td width="15%">未付款</td>
                                        <td width="15%"><a href="#" class="oper_btn">去付款</a></td>
                                    {% endif %}
                            </tr>
                        </tbody>
                    </table>
                {% endfor %}

				<div class="pagenation">
					{% for pindex in pagelist %}
                        <a href="/user_center_order{{ pindex }}/">{{ pindex }}</a>
                    {% endfor %}
				</div>
		</div>
	</div>
{% endblock content%}
</body>
</html>