{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
天天生鲜-商品详情
{% endblock %}


{% block head %}
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="{%static 'css/reset.css'%}">
	<link rel="stylesheet" type="text/css" href="{%static 'css/main.css'%}">
	<script type="text/javascript" src="{%static 'js/jquery-1.12.4.min.js'%}"></script>
    <script type="text/javascript">
        $(function () {
            $(".add").click(function () {
                num = parseInt($(this).siblings(".num_show").val())
                $(this).siblings(".num_show").val(num+1)
                num = parseInt($(this).siblings(".num_show").val())
                price = parseFloat($(".show_pirze em").text())
                $(this).parents(".goods_detail_list").children(".total").children("em").text((num*price).toFixed(2))
            })
            $(".minus").click(function () {
                num = parseInt($(this).siblings(".num_show").val())
                if(num>1){
                    $(this).siblings(".num_show").val(num-1)
                    num = parseInt($(this).siblings(".num_show").val())
                    price = parseFloat($(".show_pirze em").text())
                    $(this).parents(".goods_detail_list").children(".total").children("em").text((num*price).toFixed(2))
                }
            })
            $(".add_cart").click(function () {
                goodsid = $(this).parent().siblings("#goodsid").text()
                goodsnum = parseInt($(this).parent().siblings(".goods_num").find(".num_show").val())
                $.post("",{'goodsid':goodsid, 'goodsnum':goodsnum},function(dic){
					$("#show_count").text(dic.count)
				})
            })
            $(".buy_btn").click(function () {
                goodsid = parseInt($(this).parent().siblings("#goodsid").text())
                goodsnum = parseInt($(this).parent().siblings(".goods_num").find(".num_show").val())
                window.location.href = "{% url 'shopping:order' %}?goodsid="+goodsid+"&goodsnum="+goodsnum
            })
        })
    </script>
{% endblock %}


{% block content %}
<div class="search_bar clearfix">
		<a href="{% url 'shopping:index' %}" class="logo fl"><img src="{% static 'images/logo.png' %}"></a>
		<div class="search_con fl">
            <form action="{% url 'shopping:search' 'id' 1%}" method="get">
			<input type="text" class="input_text fl" name="search_good" id="search_text" placeholder="搜索商品">
			<input type="submit" class="input_btn fr" id="search_button" value="搜索">
            <p><span id='search_result'></span></p>
            </form>
		</div>
		<div class="guest_cart fr">
			<a href="{% url 'userCenter:cart'%}" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl" id="show_count">{{count}}</div>
		</div>
	</div>

	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>
				<span></span>
				<ul class="subnav">
					<li><a href="{% url 'shopping:list' '新鲜水果' 'id' 1%}" class="fruit">新鲜水果</a></li>
					<li><a href="{% url 'shopping:list' '海鲜水产' 'id' 1%}" class="seafood">海鲜水产</a></li>
					<li><a href="{% url 'shopping:list' '猪牛羊肉' 'id' 1%}" class="meet">猪牛羊肉</a></li>
					<li><a href="{% url 'shopping:list' '禽类蛋品' 'id' 1%}" class="egg">禽类蛋品</a></li>
					<li><a href="{% url 'shopping:list' '新鲜蔬菜' 'id' 1%}" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="{% url 'shopping:list' '速冻食品' 'id' 1%}" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="{% url 'shopping:index' %}">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="{% url 'shopping:index' %}">全部分类</a>
		<span>></span>
		<a href="{% url 'shopping:list' type 'id' 1%}">{{type}}</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="{{goods.bigImg}}"></div>

		<div class="goods_detail_list fr">
			<h3>{{goods.info}}</h3>
			<p>{{goods.info_detail}}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{goods.price}}</em></span>
				<span class="show_unit">单  位：{{goods.unit}}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1">
					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>
				</div>
			</div>
			<div class="total">总价：<em>{{goods.price}}元</em></div>
            <p id="goodsid" hidden>{{ goods.id }}</p>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
                <h3>新品推荐</h3>
				<ul>
                    {%for temp in newgoods %}
					<li>
						<a href="{% url 'shopping:detail' type temp.id%}"><img src="{{ temp.smallImg }}"></a>
						<h4><a href="{% url 'shopping:detail' type temp.id%}">{{ temp.info }}</a></h4>
						<div class="prize">￥{{ temp.price }}</div>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>{{goods.info_detail}}</dd>
				</dl>
			</div>

		</div>
    </div>
{% endblock %}
