{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
天天生鲜-首页
{% endblock %}

{% block custom_js %}
	<script type="text/javascript" src="{%static 'js/slide.js'%}"></script>
{% endblock %}

{% block content %}
	<div class="search_bar clearfix">
		<a href="/shopping/index/" class="logo fl"><img src="{% static 'images/logo.png' %}"></a>
		<div class="search_con fl">
            <form action="{% url 'shopping:search' 'id' 1%}" method="get">
			<input type="text" class="input_text fl" name="search_good" id="search_text" placeholder="搜索商品">
			<input type="submit" class="input_btn fr" id="search_button" value="搜索">
            <p><span id='search_result'></span></p>
            </form>
		</div>
		<div class="guest_cart fr">
			<a href="{% url 'userCenter:cart' %}" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl" id="show_count">{{ count }}</div>
		</div>
	</div>

	<div class="navbar_con">
		<div class="navbar">
			<h1 class="fl">全部商品分类</h1>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="center_con clearfix">
		<ul class="subnav fl">
			<li><a href="#model01" class="fruit">新鲜水果</a></li>
			<li><a href="#model02" class="seafood">海鲜水产</a></li>
			<li><a href="#model03" class="meet">猪牛羊肉</a></li>
			<li><a href="#model04" class="egg">禽类蛋品</a></li>
			<li><a href="#model05" class="vegetables">新鲜蔬菜</a></li>
			<li><a href="#model06" class="ice">速冻食品</a></li>
		</ul>
		<div class="slide fl">
			<ul class="slide_pics">
				<li><img src="{% static 'images/slide.jpg' %}" alt="幻灯片"></li>
				<li><img src="{% static 'images/slide02.jpg' %}" alt="幻灯片"></li>
				<li><img src="{% static 'images/slide03.jpg' %}" alt="幻灯片"></li>
				<li><img src="{% static 'images/slide04.jpg' %}" alt="幻灯片"></li>
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
		<div class="adv fl">
			<a href="#"><img src="{% static 'images/adv01.jpg' %}"></a>
			<a href="#"><img src="{% static 'images/adv02.jpg' %}"></a>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model01">新鲜水果</h3>
			<div class="subtitle fl">
				<span>|</span>
                {% for temp in fruit1 %}
				<a href="{% url 'shopping:detail' temp.type temp.id%}">{{ temp.info }}</a>
				{% endfor %}
			</div>
			<a href="{% url 'shopping:list' '新鲜水果' 'id' 1%}" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="{% static 'images/banner01.jpg' %}"></div>
			<ul class="goods_list fl">
				{%for temp in fruit%}
				<li>
					<h4><a href="{% url 'shopping:detail' temp.type temp.id%}">{{temp.title}}</a></h4>
					<a href="{% url 'shopping:detail' temp.type temp.id%}"><img src="{{temp.smallImg}}"></a>
					<div class="prize">¥ {{temp.price}}</div>
				</li>
				{%endfor%}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model02">海鲜水产</h3>
			<div class="subtitle fl">
				<span>|</span>
				{% for temp in seafood1 %}
				<a href="{% url 'shopping:detail' temp.type temp.id%}">{{ temp.info }}</a>
				{% endfor %}
			</div>
			<a href="{% url 'shopping:list' '海鲜水产' 'id' 1%}" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="{% static 'images/banner02.jpg' %}"></div>
			<ul class="goods_list fl">
				{%for temp in seafood%}
				<li>
					<h4><a href="{% url 'shopping:detail' temp.type temp.id%}">{{temp.title}}</a></h4>
					<a href="{% url 'shopping:detail' temp.type temp.id%}"><img src="{{temp.smallImg}}"></a>
					<div class="prize">¥ {{temp.price}}</div>
				</li>
				{%endfor%}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model03">猪牛羊肉</h3>
			<div class="subtitle fl">
				<span>|</span>
				{% for temp in meat1 %}
				<a href="{% url 'shopping:detail' temp.type temp.id%}">{{ temp.info }}</a>
				{% endfor %}
			</div>
			<a href="{% url 'shopping:list' '猪牛羊肉' 'id' 1%}" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="{% static 'images/banner03.jpg' %}"></div>
			<ul class="goods_list fl">
				{%for temp in meat%}
				<li>
					<h4><a href="{% url 'shopping:detail' temp.type temp.id%}">{{temp.title}}</a></h4>
					<a href="{% url 'shopping:detail' temp.type temp.id%}"><img src="{{temp.smallImg}}"></a>
					<div class="prize">¥ {{temp.price}}</div>
				</li>
				{%endfor%}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model04">禽类蛋品</h3>
			<div class="subtitle fl">
				<span>|</span>
				{% for temp in egg1 %}
				<a href="{% url 'shopping:detail' temp.type temp.id%}">{{ temp.info }}</a>
				{% endfor %}
			</div>
			<a href="{% url 'shopping:list' '禽类蛋品' 'id' 1%}" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="{% static 'images/banner04.jpg' %}"></div>
			<ul class="goods_list fl">
				{%for temp in egg%}
				<li>
					<h4><a href="{% url 'shopping:detail' temp.type temp.id%}">{{temp.title}}</a></h4>
					<a href="{% url 'shopping:detail' temp.type temp.id%}"><img src="{{temp.smallImg}}"></a>
					<div class="prize">¥ {{temp.price}}</div>
				</li>
				{%endfor%}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model05">新鲜蔬菜</h3>
			<div class="subtitle fl">
				<span>|</span>
				{% for temp in vegetables1 %}
				<a href="{% url 'shopping:detail' temp.type temp.id%}">{{ temp.info }}</a>
				{% endfor %}
			</div>
			<a href="{% url 'shopping:list' '新鲜蔬菜' 'id' 1%}" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="{% static 'images/banner05.jpg' %}"></div>
			<ul class="goods_list fl">
				{%for temp in vegetables%}
				<li>
					<h4><a href="{% url 'shopping:detail' temp.type temp.id%}">{{temp.title}}</a></h4>
					<a href="{% url 'shopping:detail' temp.type temp.id%}"><img src="{{temp.smallImg}}"></a>
					<div class="prize">¥ {{temp.price}}</div>
				</li>
				{%endfor%}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model06">速冻食品</h3>
			<div class="subtitle fl">
				<span>|</span>
				{% for temp in ice1 %}
				<a href="{% url 'shopping:detail' temp.type temp.id %}">{{ temp.info }}</a>
				{% endfor %}
			</div>
			<a href="{% url 'shopping:list' '速冻食品' 'id' 1 %}" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="{% static 'images/banner06.jpg' %}"></div>
			<ul class="goods_list fl">
				{%for temp in ice%}
				<li>
					<h4><a href="{% url 'shopping:detail' temp.type temp.id%}">{{temp.info}}</a></h4>
					<a href="{% url 'shopping:detail' temp.type temp.id%}"><img src="{{temp.smallImg}}"></a>
					<div class="prize">¥ {{temp.price}}</div>
				</li>
				{%endfor%}
			</ul>
		</div>
	</div>
{% endblock %}
{##}
{#    <!--<script type="text/javascript" src="js/slideshow.js"></script>-->#}
{#	<script type="text/javascript">#}
{#		BCSlideshow('focuspic');#}
{#		var oFruit = document.getElementById('fruit_more');#}
{#		var oShownum = document.getElementById('show_count');#}
{##}
{#		var hasorder = localStorage.getItem('order_finish');#}
{##}
{#		if(hasorder)#}
{#		{#}
{#			oShownum.innerHTML = '2';#}
{#		}#}
{##}
{#		oFruit.onclick = function(){#}
{#			window.location.href = 'list.html';#}
{#		}#}
{#	</script>#}